@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: var(--font-inter);
  margin: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.custom-text {
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

